#form-radio {
  accent-color: #0E1C36;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 10%;
}

.quiz-container p {
  width: 700px;
}

.quiz-form {
  display: flex;
  width: 700px;
  flex-direction: column;
}

.quiz-form h3 {
  border: 2px solid #826AED;
  color: #826AED;
  border-radius: 8px;
  width: 100px;
  padding: 5px;
  margin-bottom: 0;
  margin-top: 30px;
}

.rating-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.empty-300px-wide {
  width: 300px;
}

.rating {
  margin-left: 15px;
}

.subQ-container,
.subQ {
  display: flex;
  justify-content: space-between;
  padding: 3px 5px;
}

.subQ {
  flex-wrap: wrap;
  width: 300px;
}

.submission-btn {
  display: flex;
  margin: 50px 0 10px 0;
}

.submission-btn button {
  background: #0E1C36;
  color: #fff;
  font-size: 20px;
  border-radius: 20px;
  padding: 10px;
}

.submission-btn button:hover {
  box-shadow: inset 0 0 10px #fff;
}

.submission-btn input {
  height: 25px;
  width: 175px;
  margin: 15px;
}
.spinner {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.error-msg {
  color: red;
}